/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
img {
    width: 10px;
}
body, h1, h2, h3, h4 {
    font-family: sans-serif;
}

body {
    background-color: #540B51;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    text-align:center;
}
.container{
    padding:20px;
}


nav {
    margin: 15px 10px 20px 10px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    display: none;
}
nav div button {
    background-color: transparent;
    border: none;
}

.nav-bar-button {
    width:30px;
}

.slack-logo {
    width:40%;
}

.hero{
    background-color: #4a154b;
    color:white;
    padding:40px 20px;
}
.hero h1{
font-size:50px;
margin:15px 0;
}
.hero .highlight{
    color:yellow;
}
.btn{
    width:90%;
    padding:12px;
    margin:8px 0;
    border:none;
    font-size:16px;
}
.email{
    background-color:white;
    color:black;
}
.google{
    background-color: lightblue;
    color:white;
}
.trusted{
    padding:20px;
    background-color: #F3EAE2;
}
.trusted p{
    font-weight:bold;
    font-size:14px;
    
}
.logos{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;
}
.logos img{
    height:30px;
    width: 150px;
}
.stats{
    background-color: #eaeaea;
    padding:20px;
}
.stats h3{
    color:#4a154b;
    font-size: 30px;
}
.stats-box .number{
    font-size: 50px;
    color:#540B51
}
.stat-box{
    background-color:#eaeaea ;
    margin:10px auto;
    padding:15px;
    border-radius:5px;
    max-width:300px;
}
.stats ul{
    list-style-type: none;
}
.stat-box p{
    font-size: large;
}
.cta{
    background-color: #4a154b;
    color:white;
    padding:30px 20px;
}
.cta .primary{
    background-color: #ffcc00;
color:black;
}
.cta .secondary{
    background-color: white;
    color:black;
}
footer{
    display:flex;
    justify-content: center;
    color:white;
    font-size: 12px;
}
footer ul{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top:10px;
    flex-direction: column;
    list-style-type: none;
}
@media (min-width:768px){
    .hero h1{
        font-size: 28px;
    }
    .btn{
        width:60%;
    }
    .logos img{
        height:40px;
    }
    .stat-box{
        max-width:500px;
    }
    footer ul{
        justity-content:center;
    }
}


